<h1>Questions</h1>
<ul id = 'questions'>
  <% @questions.each do |question| %>
    <li >
      <%= link_to question.title, question_path(question)%><br>
      <%= question.body %>
      <% if question.user.id == session[:id] %>
        <%= link_to 'Delete question', question_path(question), method: :delete %>
        <%= link_to 'Edit question', edit_question_path(question), remote: true, class: 'questions' %>
      <% end %>
    </li>
  <% end %>
</ul>