<h1>Welcome to DBC Overflow</h1>
<span>
<%= link_to "Sign Up", new_users_path %>
</span>
<span>
<%= link_to "Log In", new_sessions_path %>
</span>
<% if session[:id] %>
  <%= link_to "Add Question", new_question_path %>
<% end %>